extends layout
 
block body

  h2 Race Results
  
  div.accordion
    div.accordion-section
      a.accordion-section-title(href="#accordion-1") Runs Completed
        div.accordion-section-content(id="accordion-1")
          table.fixed.tableProps(align="center")
            thead
              tr
                th.tableText Student Name
                th.tableText Race Number
                th.tableText Start Time
                th.tableText End Time
                th.tableText Duration
            tbody
              each student in completed
                tr.viewer(id="#{student._id}")
                  td.tableText=student.name
                  td.tableText=student._id
                  td.tableText=student.startTime
                  td.tableText=student.endTime
                  td.tableText=student.duration
    div.accordion-section
      a.accordion-section-title(href="#accordion-2") Runs In Progress
        div.accordion-section-content(id="accordion-2")
          table.fixed.tableProps(align="center")
            thead
              tr
                th.tableText Student Name
                th.tableText Race Number
                th.tableText Start Time
            tbody
              each student in inProgress
                tr.viewer(id="#{student._id}")
                  td.tableText=student.name
                  td.tableText=student._id
                  td.tableText=student.startTime
    div.accordion-section
      a.accordion-section-title(href="#accordion-3") Runs Not Started
        div.accordion-section-content(id="accordion-3")
          table.fixed.tableProps(align="center")
            thead
              tr
                th.tableText Student Name
                th.tableText Race Number
            tbody
              each student in notStarted
                tr.viewer(id="#{student._id}")
                  td.tableText=student.name
                  td.tableText=student._id
    div.accordion-section
      a.accordion-section-title(href="#accordion-4") Errors
        div.accordion-section-content(id="accordion-4")
          table.fixed.tableProps(align="center")
            thead
              tr
                th.tableText Student Name
                th.tableText Race Number
            tbody
              each student in errors
                tr.viewer(id="#{student._id}")
                  td.tableText=student.name
                  td.tableText=student._id

  script(src='/js/resultsView.js')
